@charset "utf-8";


#primerdiv{
	background: yellow; 
	width: 100%;
	height: 1000px;
	color: red;
}

.color-rojo{
	background: red; 
	width: 50%;
	height: 100%;
	color: red;	
}

.color-azul{
	background: blue; 
	width: 50%;
	height: 100%;
	color: blue;

}

.color-amarillo{
	background: yellow; 
	width: 50%;
	height: 100%;
	color: yellow;
}